{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class='title'>
                    Actors
                    <!-- <a id='btnNewActor' href="{{ url_for('actor_form') }}" class="button">New</a> -->
                    <a id='btnNewActor' class="button">New</a>
                </h1>
                <div class="container">
                    <section id='newActorForm' class="section hidden">
                    <!-- <div class="container"> -->
                        <h2 class="title">New Actor</h2>
                        <form class="box">
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input id="inputName" class="input" type="text" placeholder="Actor Name">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Birthdate</label>
                                <div class="control">
                                    <input id="inputBirthdate" class="input" type="date" placeholder="Actor Name">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Gender</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="inputGender">
                                            <option>M</option>
                                            <option>F</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input id="inputSeekingWork" type="checkbox">
                                        Seeking Work?
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <a id="btnSubmit" class="button is-link">Submit</a>
                                </div>
                              </div>
                        </form>
                    <!-- </div> -->
                </section>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Actor</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Seeking Work</th>
                                <th>Edit/Delete</th>
                            </tr>
                        </thead>
                        <tbody id="actorsTable">
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column">
                <h1 class='title'>
                    Movies
                </h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    const JWTS_LOCAL_KEY = 'JWTS_LOCAL_KEY';

    var token = "";
    // check if token is in local storage
    token = localStorage.getItem(JWTS_LOCAL_KEY) || null

    if (token === null) { // got here by callback
        // parse the fragment
        const fragment = window.location.hash.substr(1).split('&')[0].split('=');
        // check if the fragment includes the access token
        if ( fragment[0] === 'access_token' ) {
            // add the access token to the jwt
            token = fragment[1];
            // put item in local storage
            localStorage.setItem(JWTS_LOCAL_KEY, this.token)
        }
    }

    // TODO: build a logout feature
    
    const actorSection = document.getElementById('actorsJSON')
    const actorsTable = document.getElementById('actorsTable')
    const newActorBtn = document.getElementById('btnNewActor')
    const newActorForm = document.getElementById('newActorForm')
    const submitNewActorBtn = document.getElementById('btnSubmit')

    function addActorRow(actor) {
        const tableRow = document.createElement('tr')
        tableRow.setAttribute('id', "actorRow-" + actor['id'])
        tableRow.innerHTML = "<td class='actorName'>" + actor['name'] + "</td>"
        tableRow.innerHTML += "<td class='actorAge'>" + actor['age'] + "</td>"
        tableRow.innerHTML += "<td class='actorGender'>" + actor['gender'] + "</td>"
        tableRow.innerHTML += "<td class='actorSeekingWork'>" + actor['seeking_work'] + "</td>"
        tableRow.innerHTML += "<td><div class='buttons primaryButtons'>" +
            "<button class='button edit-button' data-id='" + actor['id'] + "'>" +
            "Edit</button>" +
            "<button class='button is-danger delete-button' data-id='" + actor['id'] + "'>" +
            "Delete</button></div>"
        tableRow.innerHTML += "<div class='buttons secondaryButtons hidden'>" +
            "<button class='button is-link actorSaveEdit' data-id='" + actor['id'] + "'>" +
            "Save</button>" +
            "<button class='button is-warning actorCancelEdit' data-id='" + actor['id'] + "'>" +
            "Cancel</button></div></td>"
        actorsTable.appendChild(tableRow)
    }

    // TODO: figure out how to redirect to login if expired token
    
    async function populateActors() {
        await fetch(
            '/actors', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                }
            }
        )
        .then(response => response.json())
        .then(jsonResponse => {
            jsonResponse['actors'].forEach(addActorRow)
        })
        .then( () => {
            registerAllDeleteButtons()
            registerAllEditButtons()
        })
    }

    function resetActorTable() {
        // clear table
        actorsTable.innerHTML = "";
        // repopulate with new actor
        populateActors()
    }

    function registerEditButton(e) {
        e.preventDefault()
        const actorId = e.target.dataset['id']
        const actorRow = document.getElementById('actorRow-' + actorId)
        fetch(
            '/actor/' + actorId, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                }
            }            
        )
        .then(response => response.json())
        .then(jsonResponse => {
            var actor = jsonResponse['actor']
            editActor(actorRow, actor)
        })
    }

    function togglePrimarySecondaryButtons(row) {
        let primaryButtons = row.querySelector('.primaryButtons')
        let secondaryButtons = row.querySelector('.secondaryButtons')
        if (primaryButtons.classList.contains('hidden')) {
            primaryButtons.classList.remove('hidden')
            secondaryButtons.classList.add('hidden')
        }
        else {
            primaryButtons.classList.add('hidden')
            secondaryButtons.classList.remove('hidden')
        }
    }

    function makeRowEditable(row, actor) {
        togglePrimarySecondaryButtons(row)
        var name;
        var birthdate;
        var gender;
        var seekingWork;
        name = actor['name']
        birthdate = actor['birthdate']
        gender = actor['gender']
        seekingWork = actor['seeking_work'].toString()

        // make tds into editable fields
        var nameCell = row.querySelector('.actorName')
        var ageCell = row.querySelector('.actorAge')
        var genderCell = row.querySelector('.actorGender')
        var seekingWorkCell = row.querySelector('.actorSeekingWork')

        nameCell.innerHTML = "<input name='name' type='text' value='" + name + "'>"
        ageCell.innerHTML = "<input name='birthdate' type='date' value='" + birthdate.substring(0,10) + "'>"
        var genderText = "<select name='gender'><option value='M'>M</option><option value='F'>F</option><option value='Other'>Other</option>"
        genderCell.innerHTML = genderText
                                        .substring(0, genderText.indexOf(gender) + gender.length + 1) + // +1 for quotation
                                        " selected" +
                                        genderText.substring(genderText.indexOf(gender) + gender.length + 1)
        var seekingWorkText = "<select name='seekingWork'><option value='true'>true</option><option value='false'>false</option>"
        seekingWorkCell.innerHTML = seekingWorkText
                                        .substring(0, seekingWorkText.indexOf(seekingWork) + seekingWork.length + 1) + // +1 for quotation
                                        " selected" +
                                        seekingWorkText.substring(seekingWorkText.indexOf(seekingWork) + seekingWork.length + 1)
        // TODO: do something with edit button like submit
        // TODO: make other fields editable

    }

    function patchActor(e, row, actorId) {
        e.preventDefault()
        var name = row.querySelector('input[name="name"]').value
        var birthdate = row.querySelector('input[name="birthdate"]').value
        var gender = row.querySelector('select[name="gender"]').value
        var seekingWork = row.querySelector('select[name="seekingWork"]').value

        fetch(
            '/actors/' + actorId, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                },
                body: JSON.stringify({
                    'name' : name,
                    'birthdate': birthdate,
                    'gender': gender,
                    'seekingWork': seekingWork
                })
            }
        )
        .then(response => response.json())
        .then(jsonResponse => {
            if(!jsonResponse['success']) {
                alert("You do not have permission to edit an Actor!")
            }
            else {
                resetActorTable()
            }
        })
    }

    function editActor(row, actor) {
        makeRowEditable(row, actor)
        var editButton = row.querySelector('.actorSaveEdit')
        var cancelButton = row.querySelector('.actorCancelEdit')

        editButton.onclick = function(e) {
            patchActor(e, row, actor['id'])
        }

        cancelButton.onclick = function(e) {
            resetActorTable()
        }
    }

    function registerAllEditButtons() {
        const editButtons = document.querySelectorAll('.edit-button')
        for (var i = 0; i < editButtons.length; i++) {
            editButtons[i].onclick = function(e) {
                registerEditButton(e)
            }
        }
    }
    function registerDeleteButton(e) {
        e.preventDefault();
        const actorId = e.target.dataset['id'];

        if (confirm("Are you sure you want to delete?")) {
            fetch('/actors/' + actorId, {
                method : 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                }
            })
            .then(response => response.json())
            .then(jsonResponse => {
                if (jsonResponse['success']) {
                    const actorRow = document.getElementById('actorRow-' + actorId)
                    actorRow.parentNode.removeChild(actorRow)
                }
                else {
                    alert("You do not have permission!")
                }
            })
            .catch(err => console.log(err))
        }
    }

    function registerAllDeleteButtons() {
        const deleteButtons = document.querySelectorAll('.delete-button');
        for (let i = 0; i < deleteButtons.length; i++) {
            const deleteButton = deleteButtons[i];
            deleteButton.onclick = function(e) {
                registerDeleteButton(e);
            }
        }
    }
    
    

    newActorBtn.onclick = function(e) {
        e.preventDefault()
        newActorForm.classList.remove('hidden')
    }

    submitNewActorBtn.onclick = async function(e) {
        e.preventDefault()
        newActorForm.classList.add('hidden')
        // add new actor to db
        await fetch(
            '/actors', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('JWTS_LOCAL_KEY')
                },
                body: JSON.stringify({
                    'name': document.getElementById('inputName').value,
                    'birthdate': document.getElementById('inputBirthdate').value,
                    'gender': document.getElementById('inputGender').value,
                    'seekingWork': document.getElementById('inputSeekingWork').checked
                })
            }
        )
        .then(response => response.json())
        .then(jsonResponse => {
            if(!jsonResponse['success']) {
                alert("You do not have permission to add a new Actor")
            }
            else {
                resetActorTable()
            }
        })
        .catch(err => console.log(err))        
    }

    populateActors()
</script>
{% endblock %}